/* css/style.css – CSS-Variablen */
:root {
  --dunkelblau: #123250;
  --gruen:      #36C291;
  --hellblau:   #19AAD2;
  --coral:      #F0825A;
  --gelb:       #FFD719;
  --lila:       #c3aad2;
}