.menu{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
width:400px;

}

.tile{

background:#36C291;
height:120px;
display:flex;
align-items:center;
justify-content:center;
border-radius:15px;
font-weight:bold;
cursor:pointer;

}