.LS_Icon{
    width: 15vw;
    height: auto;
    position: fixed;

    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.LS_Icon_Lupe{
    width: 6vw;
    height: auto;
    position: fixed;
    bottom: 39vh;
    right: 32vw;
    cursor: pointer;
}

.LS_Icon_Lupe:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
}

.LS_Ausweisnummer{
    width: 20vw;
    height: 4vh;
    position: fixed;
    bottom: 45vh;
    right: 40vw;
    font-size: 1vw;
    font-weight: bold;
    color: black;
    background-color: white;
}

.LS_Passwort{
    width: 20vw;
    height: 4vh;
    position: fixed;
    bottom: 38vh;
    right: 40vw;
    font-size: 1vw;
    font-weight: bold;
    color: black;
    background-color: white;
}

.LS_Ausweisnummer_text{
    position: fixed;
    bottom: 44vh;
    right: 62vw;
    font-size: 1.2vw;
    color: black;
}

.LS_Passwort_text{
    position: fixed;
    bottom: 36.8vh;
    right: 62vw;
    font-size: 1.2vw;
    color: black;
}