/* ============================= */
/* Reihe 1 */
/* ============================= */

.MS_Konto_Icon {
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 20vh;
    left: 12.5vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Konto_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Konto_Icon_Text{
    position: fixed;
    top: 37vh;
    left: 16.3vw;
    font-size: 1.04vw;
    color: black;
}


/* ----------------------------- */

.MS_Einzahlen_Icon{
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 20vh;
    left: 29.2vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Einzahlen_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Einzahlen_Icon_Text{
    position: fixed;
    top: 37vh;
    left: 32.3vw;
    font-size: 1.04vw;
    color: black;
}


/* ----------------------------- */

.MS_Auszahlen_Icon{
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 20vh;
    left: 45.8vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Auszahlen_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Auszahlen_Icon_Text{
    position: fixed;
    top: 37vh;
    left: 48.9vw;
    font-size: 1.04vw;
    color: black;
}


/* ----------------------------- */

.MS_Ueberweisung_Icon{
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 20vh;
    left: 62.5vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Ueberweisung_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Ueberweisung_Icon_Text{
    position: fixed;
    top: 37vh;
    left: 64.9vw;
    font-size: 1.04vw;
    color: black;
}


/* ----------------------------- */

.MS_Aktien_Icon{
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 20vh;
    left: 79.2vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Aktien_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Aktien_Icon_Text{
    position: fixed;
    top: 37vh;
    left: 82.9vw;
    font-size: 1.04vw;
    color: black;
}


/* ============================= */
/* Reihe 2 */
/* ============================= */

.MS_Spiele_Icon{
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 46.7vh;
    left: 12.5vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Spiele_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Spiele_Icon_Text{
    position: fixed;
    bottom: 30vh;
    left: 16.3vw;
    font-size: 1.04vw;
    color: black;
}


/* ----------------------------- */

.MS_Kontoerstellen_Icon{
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 46.7vh;
    left: 29.2vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Kontoerstellen_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Kontoerstellen_Icon_Text{
    position: fixed;
    bottom: 30vh;
    left: 31vw;
    font-size: 1.04vw;
    color: black;
}


/* ----------------------------- */

.MS_Info_Icon{
    width: 10.4vw;
    height: auto;
    position: fixed;
    top: 46.7vh;
    left: 45.8vw;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MS_Info_Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MS_Info_Icon_Text {
    position: fixed;
    bottom: 30vh;
    left: 50vw;
    font-size: 1.04vw;
    color: black;
}