/* ============================= */
/* Icon wie in Loginseite */
/* ============================= */

.Mainsite_Konto_Icon {
    width: 15vw;
    height: auto;
    margin-bottom: 2vh;
    margin-top: 3vh;
}

/* ============================= */
/* Konto Text */
/* ============================= */

.Mainsite_Konto_Text{
    position: fixed;
    bottom: 38vh;      /* vorher 20.3vw → vertikal korrekt */
    left: 31vw;
    font-size: 1.56vw; /* 30px */
    color: black;
}


/* ============================= */
/* Konto Input Feld */
/* ============================= */

.Mainsite_Konto{
    width: 15.6vw;     /* 300px */
    height: 3.3vh;     /* 40px */
    position: fixed;
    bottom: 41.5vh;     /* 26em */
    right: 41.7vw;     /* 50em */
    font-size: 0.83vw; /* 16px */
    font-weight: bold;
    color: black;
    background-color: white;
}


/* ============================= */
/* Button */
/* ============================= */

.Mainsite_Konto_Button{
    position: fixed;
    bottom: 41.5vh;    
    right: 31vw;
    font-size: 1.04vw; /* 20px */
    font-weight: bold;
    color: white;
    background-color: rgb(1, 80, 250);
    padding: 0.6vh 2.6vw;
}

.Mainsite_Konto_Button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.5s;
}

.Mainsite_Konto_Button:active {
    background-color: rgb(0, 55, 180); /* dunkleres Blau */
    transform: scale(0.95); /* leicht gedrückt */
}


/* ============================= */
/* Startseite Link */
/* ============================= */

.Mainsite_Konto_Startseite{
    position: fixed;
    left: 2vw;
    top: 6vh;
    font-size: 1.3vw; /* 25px */
    font-style: italic;
    font-weight: bold;
    color: black;
    background-color: rgb(140, 255, 169);
    text-decoration: underline;
}

.Mainsite_Konto_Startseite:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.5s;
}