.Einzahlen_Icon{
    width: 200px;
    height: 200px;
    left: 15vw;
    top: 22vw;
    position: fixed;
}


.Einzahlen_Startseite{
    position: fixed;
    left: 2vw;
    top: 5.5vw;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: Black;
    background-color: rgb(140, 255, 169);
    text-decoration: underline;  /* Unterstrichen */
}

.Einzahlen_Startseite:hover {
    
    cursor: pointer; /* Cursor ändert sich beim Hover */
    transform: scale(1.2); /* Vergrößert die Lupe leicht beim Hover */
    transition: transform 0.5s; /* Sanfte Übergangsanimation */
}







.Einzahlen_Kontonummer_Text{
    position: fixed;
    top: 15vw;
    left: 35vw;
    font-size: 30px;           /* Schriftgröße */
    color: black;
}

.Einzahlen_Kontonummer_Eingabe{
    width: 300px;
    height: 40px;
    position: fixed;
    top: 16.5vw;
    left: 47vw;
    font-size: 16px;           /* Schriftgröße */
    font-weight: bold;         /* fett */
    color: black;
    background-color: white;
}






.trennlinie{
    position: fixed;
    top: 20vw;
    left: 30vw;
    width: 1000px;
    height: 2px;
    background-color: black;
}

.trennlinie_2{
    position: fixed;
    top: 35vw;
    left: 30vw;
    width: 1000px;
    height: 2px;
    background-color: black;
}










.Einzahlen_Kontoname_Text{
    position: fixed;
    top: 22vw;
    left: 40.9vw;
    font-size: 30px;           /* Schriftgröße */
    color: black;
}


.Einzahlen_Kontoname_Wert{
    width: 305px;
    height: 40px;
    position: fixed;
    border: 2px solid black; /* Schwarzer Rahmen */
    top: 22vw;
    left: 47vw;
    font-size: 30px;           /* Schriftgröße */
    font-weight: bold;         /* fett */
    color: black;
    background-color: white;
}




.Einzahlen_Kontostand_Text{
    position: fixed;
    top: 27vw;
    left: 37.1vw;
    font-size: 30px;           /* Schriftgröße */
    color: black;
}

.Einzahlen_Kontostand_Wert{
    width: 305px;
    height: 40px;
    position: fixed;
    border: 2px solid black; /* Schwarzer Rahmen */
    top: 27vw;
    left: 47vw;
    font-size: 30px;           /* Schriftgröße */
    font-weight: bold;         /* fett */
    color: black;
    background-color: white;
}




.Einzahlen_Konto_Button{
    position: fixed;
    top: 36vw;
    left: 65vw;
    font-size: 25px;           /* Schriftgröße */
    color: White;
    background-color: rgb(1, 80, 250);
    padding: 7px 60px;  /* 🔥 Das macht den Button größer */
}

.Einzahlen_Konto_Button:hover {
    cursor: pointer; /* Cursor ändert sich beim Hover */
    transform: scale(1.2); /* Vergrößert die Lupe leicht beim Hover */
    transition: transform 0.5s; /* Sanfte Übergangsanimation */
}

.Einzahlen_Kontonummer_Button {
    position: fixed;
    top: 16.4vw;
    left: 65vw;
    font-size: 25px;  
    color: white;
    background-color: rgb(1, 80, 250);

    padding: 7px 70px;  /* 🔥 Das macht den Button größer */
}

.Einzahlen_Kontonummer_Button:hover {
    cursor: pointer; /* Cursor ändert sich beim Hover */
    transform: scale(1.2); /* Vergrößert die Lupe leicht beim Hover */
    transition: transform 0.5s; /* Sanfte Übergangsanimation */
}


.Einzahlen_Betrag_Text{
    position: fixed;
    top: 34.2vw;
    left: 40.9vw;
    font-size: 30px;           /* Schriftgröße */
    color: black;
}

.Einzahlen_Betrag{
    width: 305px;
    height: 40px;
    position: fixed;
    border: 2px solid black; /* Schwarzer Rahmen */
    top: 36vw;
    left: 47vw;
    font-size: 30px;           /* Schriftgröße */
    font-weight: bold;         /* fett */
    color: black;
    background-color: white;
}