
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.StutengartenLogo{
  width: 100%;
  text-align: center;
  background-color: rgb(35, 58, 109);
  color: white;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  
}


.BwBankLogo {
  position: fixed;   /* bleibt immer am Bildschirm hängen */
  bottom: 2em;         /* Abstand vom unteren Rand */
  right: 2em;          /* Abstand vom rechten Rand */
  width: 300px;      /* Breite des Bildes */
  height: auto;      /* Höhe automatisch proportional */
}


.betreuerlogin_textfeld{
  border: 2px solid black;  /* schwarzer Rand */
  background-color: white; /* weißer Hintergrund */
  color: black;            /* schwarze Schrift */
  width: 300px;              /* Breite */
  height: 30px;              /* Höhe */
  border-radius: 0;          /* eckig, keine abgerundeten Ecken */
  padding: 5px;              /* Abstand innen */
  font-size: 16px;           /* Schriftgröße */
  position: fixed;           /* bleibt immer am Bildschirm hängen */
  bottom: 2em;               /* Abstand vom unteren Rand */
  left: 10em;                 /* Abstand vom linken Rand */
}

.close-button {
  width: 40px;              /* quadratisch */
  height: 40px;             /* quadratisch */
  background-color: red;     /* roter Hintergrund */
  color: White;              /* X weiß */
  border: 2px solid black;              /* schwarzer Rand */
  border-radius: 0;          /* eckig */
  font-size: 32.9px;           /* Größe des X - 32.9px damit es mit dem Inputfeld übereinstimmt */
  cursor: pointer;           /* Maus wird Zeiger */
  display: flex;             /* X zentrieren */
  align-items: center;       /* vertikal zentrieren */
  justify-content: center;   /* horizontal zentrieren */
  position: fixed;           /* bleibt immer am Bildschirm hängen */
  bottom: 1em;               /* Abstand vom unteren Rand */
  left: 2em;                 /* Abstand vom linken Rand */
}


.betreuerlogin_text{
  position: fixed;           /* bleibt immer am Bildschirm hängen */
  bottom: 4em;               /* Abstand vom unteren Rand */
  left: 10em;                 /* Abstand vom linken Rand */
  font-size: 16px;           /* Schriftgröße */
  font-weight: bold;         /* fett */
}