* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: Arial, sans-serif;
  background: #fff;
  min-height: 100vh;
  color: #123250;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}
